<div class="pagination">
  <button [disabled]="page === 1" (click)="previousPage()">Previous Page</button>
  <button (click)="nextPage()">Next Page</button>
</div>
<div *ngFor="let number of (numbers$ | async)?.data">
  {{ number }}
</div>
