<app-video-list
  [videos]="(videos | async) || []"
  [selectedVideo]="(selectedVideo | async)?.id"
></app-video-list>
<app-video-player [video]="(selectedVideo | async) || undefined"></app-video-player>
<app-stat-filters></app-stat-filters>
